<!-- houses.component.html -->
<div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
  <mat-form-field class="w-full mb-6" appearance="fill">
    <mat-label>Search Houses</mat-label>
    <input matInput [formControl]="searchControl" class="w-full bg-white border border-gray-300 rounded px-4 py-2 focus:outline-none focus:border-blue-500 transition duration-300">

    <button *ngIf="searchControl" matSuffix mat-icon-button aria-label="Clear" (click)="removeSearchValue()" class="ml-2">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="loading" class="text-center text-gray-600 mb-4">
    Loading...
  </div>

  <ul class="list-inside" *ngIf="!loading">
    <li *ngFor="let house of filteredHouses; let i = index" (click)="showHouseDetail(house.slug)" class="mb-4 p-4 bg-white shadow-md rounded-md cursor-pointer transition duration-300 hover:bg-gray-200">
      <div class="flex items-baseline">
        <span class="mr-4 text-gray-600">{{ i + 1 }}.</span>
        <div>
          <p class="text-lg font-semibold mb-1">{{ house.name }}</p>
          <p class="text-gray-600 text-sm">Slug: {{ house.slug }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
