<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="app-title" routerLink="/houses" routerLinkActive="active">GOT app</button>
    <span class="spacer"></span>
    <button mat-button routerLink="/houses" routerLinkActive="active">Houses</button>
    <button mat-button routerLink="/persons" routerLinkActive="active">Persons</button>
    <button mat-button routerLink="/quotes" routerLinkActive="active">Quotes</button>
    <!-- <div class="search-field">
      <input type="text" placeholder="Search" class="search-input" #searchInput>
      <button mat-icon-button class="search-button" (click)="onSubmit(searchInput.value)">
        <mat-icon>search</mat-icon>
      </button>
    </div> -->
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
